.game-2048 {
    margin-top: 20%;
    text-align: center;
    .box-wrapper {
        position: relative;
        font-size: 0;
        background-color: red;
        display: inline-block;
        .item {
            position: relative;
            display: inline-block;
            vertical-align: top;
            font-size: 16px;
            width: 60px;
            height: 60px;
            line-height: 50px;
            text-align: center;
            margin: 2px;
            &.color {                
                background-color: yellow;
            }
        }
        .grid {
            .item {
                background-color: silver;
            }
        }
        .box-2048 {
            position: absolute;
            top: 0px;
        }
    }
}

@keyframes scaleIn {
    0% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0)
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}